Liquidation of Deposit Funds/force-app/main/default/flows/Approved_Pickup_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approved_Pickup_Check</name>
        <label>Approved Pickup Check</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Case.Approved_Pickup_Check</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Approved_Pickup_Check</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Spanish_Email</name>
        <label>Spanish Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Approved_Pickup_Check_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Approved_Pickup_Check_Spanish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Language</name>
        <label>Language</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Approved_Pickup_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_users.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spanish_Email</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approved Pickup Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approved Pickup Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_users</name>
        <label>Get users</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Workflow_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved-Pickup Check</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
