Liquidation of Deposit Funds/force-app/main/default/flows/Case_Created_for_Liquidation_of_Funds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Created_for_Liquidation_of_Funds</name>
        <label>Case Created for Liquidation of Funds</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Case.Case_Creation_Confirmation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_Feed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Creation_Confirmation_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_creation_Email_Spanish</name>
        <label>Case creation Email Spanish</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Case_Creation_Confirmation_Email_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_Feed_spanish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Creation_Confirmation_Email_Spanish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Language</name>
        <label>Language</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Case_Created_for_Liquidation_of_Funds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_creation_Email_Spanish</targetReference>
            </connector>
            <label>spanish</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ThenameoftheOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Case Created for Liquidation of Funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Created for Liquidation of Funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Activity_History</name>
        <label>Activity History</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseCreationInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email Sent for Case Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Activity_History_spanish</name>
        <label>Activity History spanish</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseCreationInfoSpanish</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email Sent for Case Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This will update the feed to let know the employe that the Email was sent</description>
        <name>Update_the_Feed</name>
        <label>Update the Feed</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Activity_History</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>UpdateFeed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordCreates>
        <description>This will update the feed to let know the employe that the Email was sent</description>
        <name>Update_the_Feed_spanish</name>
        <label>Update the Feed spanish</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Activity_History_spanish</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>UpdateFeed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liquidation Of Funds Portal</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CaseCreationInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Account_First_Name__c}{!$Record.Account_Last_Name__c}:
We are sorry for your loss and we are here to support you in these process. We have received your Liquidation Funds request. Your ticket number is {!$Record.CaseNumber} and you may use it as reference. We will review the submitted documentation and information and send you an email with the resolution of your request. 
If you have any questions, you can contact us at 787-724-3650 or visit one of our branches.
We are here to serve you;
Banco Popular de Puerto Rico</text>
    </textTemplates>
    <textTemplates>
        <name>CaseCreationInfoSpanish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hola {!$Record.Account_First_Name__c}{!$Record.Account_Last_Name__c}:
Lamentamos su pérdida y estamos aquí para apoyarle en este proceso. Hemos recibido su solicitud de Fondos de Liquidación. Su número de ticket es {!$Record.CaseNumber} y puede utilizarlo como referencia.Revisaremos la documentación e información enviada y le enviaremos un correo electrónico con la resolución de su solicitud.
Si tiene alguna pregunta, puede contactarnos al 787-724-3650 o visitar una de nuestras sucursales.
Estamos aquí para servirle;
Banco Popular de Puerto Rico</text>
    </textTemplates>
    <textTemplates>
        <name>UpdateFeed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Email was sent to {!$Record.Email__c} for Case {!$Record.CaseNumber}.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
